<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Lightmark</string>
    <key>CFBundleDisplayName</key><string>Lightmark</string>
    <key>CFBundleIdentifier</key><string>app.lightmark.reader</string>
    <key>CFBundleExecutable</key><string>Lightmark</string>
    <key>CFBundleIconName</key><string>AppIcon</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.7</string>
    <key>CFBundleVersion</key><string>8</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>ATSApplicationFontsPath</key><string>Fonts</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>NSDocumentClass</key><string>LightmarkDocument</string>
            <key>CFBundleTypeName</key><string>Markdown Document</string>
            <key>CFBundleTypeRole</key><string>Editor</string>
            <key>LSHandlerRank</key><string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array><string>net.daringfireball.markdown</string><string>public.plain-text</string></array>
            <key>CFBundleTypeExtensions</key>
            <array><string>md</string><string>markdown</string></array>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key><string>net.daringfireball.markdown</string>
            <key>UTTypeDescription</key><string>Markdown Document</string>
            <key>UTTypeConformsTo</key>
            <array><string>public.plain-text</string></array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array><string>md</string><string>markdown</string></array>
                <key>public.mime-type</key><string>text/markdown</string>
            </dict>
        </dict>
    </array>
    <key>SUShowReleaseNotes</key>
    <false/>
    <key>SUFeedURL</key>
    <string>https://trylightmark.com/downloads/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>CfznHGY3SceeF9qSs8yzDqvu5Eo+lNMkk1LEhp1B1uE=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUEnableSystemProfiling</key>
    <false/>
</dict>
</plist>
